<div class="container">
  <div class="row">
    <div class="col-md-3 hidden-print">
      <h2>Invoice List</h2>
      <p>All created invoices.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <div class="form-group hidden-print">
        <h3>Filter List Of UN-PAID Invoices Of Various Companies</h3>
      </div>
      <ejs-dropdownlist id='ddlelement' #samples [dataSource]='data' [fields]='fields' [placeholder]='text' [allowFiltering]='true' (filtering)='onFiltering($event)'></ejs-dropdownlist>
      <div class="form-group hidden-print">
         <!-- <input type="text" [(ngModel)]="filterText" placeholder="Enter Company Name" class="form-control form-control-sm">-->
         <select  name="cc"  [(ngModel)]="this.invoice.company" class="form-control form-control-sm col-md-8">
           
          <option [ngValue]="null">Select Company</option>
                     
         <option *ngFor="let c of companies" [ngValue]="c">{{c.name}}</option>
                   
         </select>
          
        </div>
        
        <div class="form-group">
            <div class=row>
                
            <button (click)="filter()" class="btn btn-primary btn-sm hidden-print">Filter</button>
            <p>.</p>
            <button (click)="clearfilter()" class="btn btn-primary btn-sm hidden-print">Clear Filter</button>
            <p>.</p>
            <button class="btn btn-primary btn-sm hidden-print" (click)="print()" >Print(O)</button>
          </div>
        </div>
    </div>
  </div>

</div>
<div class="container ">

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Invoice No.</th>
        <th>Status</th>
        <th>Date</th>
        <th>Company Name</th>
        <th>Guest Name</th>
        <th>Driver Name</th>
        <th>Vehicle</th>
        <th>Amount</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of invoices">
        <td>{{i.id}}</td>
        <td>{{i.status}}</td>
        <td>{{i.dated | date:'dd-MM-yyyy'}}</td>
        <td>{{i.company.name}}</td>
        <td>{{i.guest}}</td>
        <td>{{i.driver.name}}</td>
        <td>{{i.vehicle.name}}</td>
        <td>{{i.grossAmount}}</td>
       
      </tr>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>
